/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
   --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
  --white: #ffffff;
  --black:#000000;
}

*{
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 15px;
  font-family: 'Lexend Deca',sans-serif;
}
html,body{
  background-color:var(--very-light-gray);
  width: 100%;
  height: 100%;
}
.notice{
  width:20%;
  cursor:pointer;
  margin-left:20px;
  text-align: center;
  background-color: var(--bright-orange);
  border-radius: 15px;

}
.notice  a{
  text-decoration: none;
  color:var(--black);
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto;

}

.row{
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  padding:45px;
  width: 300px;
  height: 500px;
  justify-content: space-between;
}

.sedan-style{
  background-color:var(--bright-orange);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.sedan-style > button{
  color:var(--bright-orange);
}
.suv-style{
  background-color:var(--dark-cyan);
}
.suv-style > button{
  color:var(--dark-cyan);
}
.luxury-style{
  background-color:var(--very-dark-cyan);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.luxury-style > button{
  color: var(--very-dark-cyan);

}

.body-div{
  margin-bottom:90px;
}

h1{
  text-transform: uppercase;
  font-family: 'Big Shoulders Display',cursive;
  color: var(--very-light-gray);
  font-weight: 700;
  font-size: 2rem;
}
p{
  color: var(--transparent-white);
  word-wrap: break-word;
  font-weight: 400;
  word-spacing: 1.5px;
  line-height: 22px;
}

.btn{
  width: auto;
  height: auto;
  padding: 10px 20px;
  border:none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 400;
  font-size: 15px;
  background-color: var(--very-light-gray);
}
.btn:active{
  background-color: Transparent;
  border: 2px solid  var(--very-light-gray);
  color: var(--very-light-gray);
}

/* Media Queries */
@media screen and (max-width:900px){
  *{
    overflow-x: hidden;
  }
  .notice{
    width: 70%;
  }
    .container{
      flex-wrap: wrap;
      width:100%;
    }
    .row{
      width: 80%;
      height:60%;
      padding: 60px;
    }

    .sedan-style , .luxury-style{
      border-radius: initial;
    }
    .btn{
      width:100%;
      padding: 15px 30px;
    }
}

@media screen and (max-width:375px) {
  .notice{
    width:50%
  }
  .row{
    width:300px;
    height: 500px;
    padding: 40px;
  }
.container{
  flex-wrap: wrap;
  margin: 20px auto;
  width: 100%;

  }
  .sedan-style , .luxury-style{
    border-radius: initial;
  }
  .btn{
    width:auto;
    padding: 10px 20px;
  }

}
